<section class="photography">
    <div class="photography">
      <a target="_blank" href="../../assets/p1.jpeg">
        <img src="../../assets/p1.jpeg" ></a>
    </div>
    
    <div class="photography">
      <a target="_blank" href="../../assets/p2.jpeg">
        <img src="../../assets/p2.jpeg" ></a>
    </div>
    
    <div class="photography">
      <a target="_blank" href="../../assets/p3.jpeg">
        <img src="../../assets/p3.jpeg"></a>
    </div>
    
    <div class="photography">
      <a target="_blank" href="../../assets/p4.jpeg">
        <img src="../../assets/p4.jpeg"  ></a>
    </div>
    
    <div class="photography">
      <a target="_blank" href="../../assets/p5.jpeg">
        <img src="../../assets/p5.jpeg" ></a>
    </div>
    
    <div class="photography">
      <a target="_blank" href="../../assets/p6.jpeg">
        <img src="../../assets/p6.jpeg" ></a>
    </div>
    
    <div class="photography">
      <a target="_blank" href="../../assets/p7.jpeg">
        <img src="../../assets/p7.jpeg" ></a>
    </div>
    
    <div class="photography">
      <a target="_blank" href="../../assets/p8.jpeg">
        <img src="../../assets/p8.jpeg" ></a>
    </div>
    
    <div class="photography">
      <a target="_blank" href="../../assets/p9.jpeg">
        <img src="../../assets/p9.jpeg" ></a>
    </div>
    
    <div class="photography">
      <a target="_blank" href="../../assets/p10.jpeg">
        <img src="../../assets/p10.jpeg" ></a>
    </div>
    </section>

