<section class="gallery">
    <div class="gallery">
      <a target="_blank" href="../../assets/1.jpeg">
        <img src="../../assets/1.jpeg" ></a>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="../../assets/2.jpeg">
        <img src="../../assets/2.jpeg" ></a>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="../../assets/3.jpeg">
        <img src="../../assets/3.jpeg"></a>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="../../assets/4.jpeg">
        <img src="../../assets/4.jpeg"  ></a>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="../../assets/5.jpeg">
        <img src="../../assets/5.jpeg" ></a>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="../../assets/6.jpeg">
        <img src="../../assets/6.jpeg" ></a>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="../../assets/7.jpeg">
        <img src="../../assets/7.jpeg" ></a>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="../../assets/8.jpeg">
        <img src="../../assets/8.jpeg" ></a>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="../../assets/9.jpeg">
        <img src="../../assets/9.jpeg" ></a>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="../../assets/10.jpeg">
        <img src="../../assets/10.jpeg" ></a>
    </div>
    </section>
